.collapsible .collapsible-header, .collapsible .collapsible-body {
	background-color: var(--background-color-card);
};

.collapsible > li {
	border-color: var(--separator-color) !important;
};

/* Active events */
.collapsible .collapsible-header:focus, .collapsible .collapsible-header:active {
	background-color: var(--surface-color);
}

.collapsible .collapsible-header:hover {
	background-color: var(--hover-color);
	
}

.collapsible .active .collapsible-header {
	background: var(--primary-color-gradient) !important;
}

.collapsible > li:has(.collapsible-header:hover) {
	border: 1px solid var(--hover-color);
}