.collapsible .collapsible-header, .collapsible .collapsible-body {
	background-color: var(--background-color-card);
};
/*
.collapsible > li {
	border-color: var(--separator-color) !important;
};*/

/* Active events */
.collapsible .collapsible-header:focus, .collapsible .collapsible-header:active {
	background-color: var(--surface-color);
}

.collapsible {
	background-color: none;
	box-shadow: none;
}

.collapsible > li {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.collapsible .collapsible-header:hover {
	background-color: var(--hover-color);
}

.collapsible .active .collapsible-header {
	background: var(--primary-color-gradient) !important;
}

.collapsible > li:has(.collapsible-header:hover) {
	
}

