@import url("/styles/fonts/all.article.css");
@import url("/styles/fonts/all.navbar.css");

.collapsible > li > header {
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

label {
	display: block;
     margin-block-start: .25em;
     margin-block-end: .25em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
	white-space: pre-wrap;
}