nav {
	background-color: var(--background-color) !important;
}

nav:not(#header) ul:not(.dropdown-content) > li > a, nav.transparent ul:not(.dropdown-content) > li > a {
	color: var(--font-color-main) !important;
}

nav.transparent {
	box-shadow: none !important;
}

nav#header {
	background: linear-gradient(
		335deg,
		var(--primary-color-dark) 0%,
		var(--primary-color) 62%,
		var(--primary-color-raised-hover-solid) 100%
	);
}

nav .input-field input[type="search"], textarea {
	color: var(--font-color-main) !important;
}

nav .brand-logo {
	color: var(--font-color-main) !important;
}
