.input-field input, .input-field textarea {
     background-color: var(--input-color) !important;
}

.btn:not([disabled]) {
     background-color: var(--primary-color) !important;
}

nav ul:not(.dropdown-content) > li > a:hover:not(.active) {
     background-color: var(--hover-color) !important;
}
