.nav-wrapper {
	position: fixed;
     width: -webkit-fill-available;
     top: 0;
	z-index: 10;
}

nav .brand-logo {
     position: relative !important;
     margin-top: auto !important;
     margin-bottom: auto !important;
     display: flex;
     align-items: center;
     flex-direction: row;
	justify-content: space-between;
}

nav .brand-logo > * {
     margin-top: auto !important;
     margin-bottom: auto !important;
}

nav .brand-logo > * {
     margin-left: .5em !important;
}

nav .brand-logo img {
     --dimension: 1.5rem;
     height: var(--dimension) !important;
     width: var(--dimension) !important;
}

.nav-wrapper + *:not(:has(iframe), .container), *:has(.nav-wrapper) + *:not(:has(iframe), .container) {
	margin-top: 64px !important;
}

.nav-wrapper + *:has(iframe), .nav-wrapper + *.container, *:has(.nav-wrapper) + *:has(iframe), *:has(.nav-wrapper) + *.container {
	margin-top: 56px !important;
}

@media only screen and (min-width: 601px) {
	.nav-wrapper + *:has(iframe), .nav-wrapper + *.container, *:has(.nav-wrapper) + *:has(iframe), *:has(.nav-wrapper) + *.container {
		margin-top: 64px !important;
	}

	.nav-wrapper + *:not(:has(iframe)), *:has(.nav-wrapper) + *:not(:has(iframe)) {
		margin-top: 72px !important;
	}
}

nav ul:not(.dropdown-content) > li > a {
	height: 100%;
}