/* nav [data-result-content="*"] {
     
}*/

article[data-result-linked="filters"] > h2 {
     display: none;
}

a[data-result-linked="filters"] > * {
     display: none;
}

@media only screen and (max-width: 992px) {
     article[data-result-linked="filters"] > h2 {display: block;}
}


@media only screen and (min-width: 992px) {
	a[data-result-linked="filters"] > * {
		display: block;
	}
}