#summary {
	font-weight: bold;
}


#score {
	background-color: #88888888;
	height: 2px;
}

#score::-webkit-progress-value {
	background-color: #ffF;    
}

body:has(summary + details) summary {
	padding-bottom: 2em;
}